<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="i5" class="com.example.LaptopDealer.i5"/>
    <bean  id="i3" class="com.example.LaptopDealer.i3"/>
    <bean id="i7" class="com.example.LaptopDealer.i7"/>

    <bean id="dellwithi3" class="com.example.LaptopDealer.Dell">
        <property name="processors" ref="i3"></property>
    </bean>
    <bean id="dellwithi5" class="com.example.LaptopDealer.Dell">
        <property name="processors" ref="i5"></property>
    </bean>
    <bean id="dellwithi7" class="com.example.LaptopDealer.Dell">
        <property name="processors" ref="i7"></property>
    </bean>
    <bean id="mackbookwithi3" class="com.example.LaptopDealer.Macbook">
        <property name="processors" ref="i3"></property>
    </bean>
    <bean id="mackbookwithi5" class="com.example.LaptopDealer.Macbook">
        <property name="processors" ref="i5"></property>
    </bean>
    <bean id="mackbookwithi7" class="com.example.LaptopDealer.Macbook">
        <property name="processors" ref="i7"></property>
    </bean>
    <bean id="microsoftlaptopwithi3" class="com.example.LaptopDealer.Microsoftlaptop">
        <property name="processors" ref="i3"></property>
    </bean>
    <bean id="microsoftlaptopwithi5" class="com.example.LaptopDealer.Microsoftlaptop">
        <property name="processors" ref="i5"></property>
    </bean>
    <bean id="microsoftlaptopwithi7" class="com.example.LaptopDealer.Microsoftlaptop">
        <property name="processors" ref="i7"></property>
    </bean>

</beans>